.appleButton{
    border-color: rgb(51, 54, 57);
    background-color: rgb(255, 255, 255);
    max-width: 380px;
    color: black;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 50px;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    
}



