.main_container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25rem;
}

.space{
  display: flex;
  max-width: 380px;
}
.space hr{
  height: 0.5px;
  width: 30%;
  background: white;
  opacity: 0.6;

}
.footer ul{
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.footer li {
  list-style: none;
}


